{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/css/style_auth.css' %}">

<div class="login-box">
  {% if form.errors %}
    <p>{{ form.errors.error}}</p>
  {% endif %}
  <h2>Login</h2>
  <form action="{% url 'login' %}" method="post">
<!--    {{ form }}-->
    {% csrf_token %}
    <div class="user-box">
      {{ form.username }}
<!--      <input type="text" name="" required="" id="id_username">-->
      <label>Username</label>
    </div>
    <div class="user-box">
      {{ form.password }}
<!--      <input type="password" name="" required="" id="id_password1">-->
      <label>Password</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button type="submit" class="btn btn-success">Submit</button>
    </a>
  </form>
</div>

{% endblock %}